button {
    padding: 6px;
    border: 2px;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
    background-color: black;
    margin: 2px;
    font-family: monospace;
    background-image: linear-gradient(to top, #d4d4d4, #d4d4d4, #e5e5e5);
}