.login-container {
  width: 240px;
  margin: 80px auto;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
}
.login-container label {
  margin-bottom: 20px;
  font-size: 13px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 13px;
}

.login-container button {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  background-color: blue;
  color: white;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: lightblue;
  color:  black;
}
