:root {
  --bg-color: linear-gradient(white);
  --header-bg-color: white;
  --need-color: #e5e5e5;

  --header-color: black;
  --header-font-family: serif;

  --h2-color: black;
  --h2-font-family: sans-serif;

  --text-color: black;
  --text-font-family: sans-serif;

  --input-color: white;
  --input-rounded: 1px;
  --input-border: 1px solid black;

  --button-color: linear-gradient(#d4d4d4);
  --button-rounded: 5px;
  --button-border: 2px solid transparent;
  --button-text-color: black;
  --button-font-family: monospace;
}

body {
  background-image: var(--bg-color);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index: 10;
  width: calc(100% - 40px);
  margin: 0;
  padding: 10px 20px;
  
  background-color: var(--header-bg-color);
}

h1 {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  z-index: -1;
  margin: 0 -20px;

  font-family: var(--header-font-family), serif;
  color: var(--header-color);
}

h1 > span {
  color: var(--header-bg-color);
  background-color: var(--need-color);
  border: 4px solid var(--need-color);
  border-radius: 4px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}


button {
    padding: 6px;
    font-size: 1rem;
    margin: 2px;
    position: sticky;

    background-image: var(--button-color);
    border-radius: var(--button-rounded);
    border: var(--button-border);
    font-family: var(--button-font-family), monospace;
    color: var(--button-text-color);
}

.login-container {
  width: 240px;
  margin: 80px auto;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 2rem;

  color: var(--h2-color);
  font-family: var(--h2-font-family);
}
.login-container label {
  margin-bottom: 20px;
  font-size: 1rem;

  color: var(--text-color);
  font-family: var(--text-font-family);
}

.login-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

.login-container button {
  width: 100%;
  margin: 10px auto;
}

input {
  color: var(--text-color);
  font-family: var(--text-font-family);
  background-color: var(--input-color);
  border-radius: var(--input-rounded);
  border: var(--input-border);
}

h2 {
    font-size: 1.5rem;
    
    color: var(--h2-color);
    font-family: var(--h2-font-family);
}

h2 > input {
    font-size: 1.5rem;
    
    color: var(--h2-color);
    font-family: var(--h2-font-family);
    background-color: var(--input-color);
    border-radius: var(--input-rounded);
    border: var(--input-border);
}

p {
    font-size: 1rem;

    color: var(--text-color);
    font-family: var(--text-font-family);
}

p > input {
    font-size: 1rem;
    
    color: var(--text-color);
    font-family: var(--text-font-family);
    background-color: var(--input-color);
    border: var(--input-border);
}

.need {
    background-color: var(--need-color);
    border: 4px solid var(--need-color);
    border-radius: 4px;
}

