.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header h1 {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  z-index: -1;
  margin: -10px -20px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}


button {
    padding: 6px;
    border: 2px;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color: black;
    margin: 2px;
    font-family: monospace;
    background-image: linear-gradient(to top, blue, blue, rgb(124, 124, 255));
    position: sticky;
}
