<ul class="needs">
  <div *ngIf="isAdmin()">
    <form>
    <div class="create-console">
      <h2>Need Creator</h2>
      <p>Name: <input type="text" #name></p>
      <p>Cost: $<input type="number" #cost></p>
      <p>Quantity: <input type="number" #quantity></p>
    </div>
    <button (click)="add(name, cost, quantity)" class="creation-button">Create Need</button>
    </form>
  </div>
  <div>
    <p>Search for Needs <input type="text" (input)="searchNeeds(search.value)" #search></p>
  </div>
  <li *ngFor="let need of needs">
      <div *ngIf="displayNeed(need)">
        <h3> {{need.id}} </h3>
        <h2> {{need.name}} </h2>
        <p> ${{need.cost.toFixed(2)}} </p>
        <p> {{need.quantity}} Remaining</p>
        <div *ngIf="isAdmin()" class="buttons">
          <button (click)="startEdit(need)" class="creation-button">Edit</button>
          <button (click)="delete(need)" class="removal-button">Delete</button>
        </div>
        <div *ngIf="isUser()">
          <div *ngIf="!needInBasket(need)" class="buttons">
            <p><input type="number" [(ngModel)]="need.current_quantity" name="need.current_quantity" (input)="updateNeedCurrQuantity(need, basket_quantity)" #basket_quantity><br> ${{ (need.current_quantity * need.cost).toFixed(2) }}</p>
            <p><button (click)="addToBasket(need)" class="creation-button">Add to Basket</button></p>
          </div>
          <div *ngIf="needInBasket(need)" class="buttons">
            <p><input type="number" [(ngModel)]="need.current_quantity" name="need.current_quantity" (input)="updateNeedCurrQuantityInBasket(need, basket_quantity)" #basket_quantity><br> ${{ (need.current_quantity * need.cost).toFixed(2) }}</p>
            <p><button (click)="addToBasket(need)" class="creation-button">Change Quantity</button></p>
            <p><button (click)="removeFromBasket(need)" class="removal-button">Remove from Basket</button></p>
          </div>
        </div>
      </div>
      <div *ngIf="need.current">
        <h3> {{need.id}} </h3>
        <h2> Name: <input type="text" [(ngModel)]="curr_name" name="curr_name"></h2>
        <p> Cost: $<input type="number" [(ngModel)]="curr_cost" name="curr_cost"></p>
        <p> Quanity: <input type="number" [(ngModel)]="curr_quantity" name="curr_quantity"></p>
        <div class="buttons">
          <button (click)="updateEdit(need)">Update</button>
          <button (click)="discardEdit(need)">Discard Changes</button>
        </div>
      </div>
  </li>
</ul>
