li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.create-console {
    height: fit-content;
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
    border-radius: 4px;
    margin: 4px;
    position: relative;
}

.create-console > p {
    width: 100%;
}

.create-console > p > input {
    width: fit-content;
}

li > div {
    height: 200px;
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
    border-radius: 4px;
    margin: 4px;
    position: relative;
}

input {
    padding: 0;
    margin: 0;
    background-color: #ffffff00;
    border: 0;
    border-bottom: 2px solid black;
}

h3 {
    font-size: 200px;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: -200px;
    opacity: 10%;
    user-select: none;
    pointer-events: none;
    font-family: monospace;
}

h2 {
    font-size: 1.5rem;
    z-index: 2;
    font-family: sans-serif;    
}

h2 > input {
    font-size: 1.5rem;
    z-index: 2;
    font-family: sans-serif;
}

p {
    font-size: 1rem;
    z-index: 2;
    font-family: sans-serif;
}

p > input {
    font-size: 1rem;
    z-index: 2;
    font-family: sans-serif;
}

.buttons {
    position: absolute;
    bottom: 4px;
    z-index: 2;
    display: flex;
    font-family: sans-serif;
    width: 90%;
    flex-direction: row;
}

button {
    padding: 6px;
    border: 2px;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color: black;
    margin: 2px;
    font-family: monospace;
}

.removal-button:hover {
    background-image: linear-gradient(to top, red, red, rgb(255, 125, 125));
} 

.creation-button:hover {
    background-image: linear-gradient(to top, rgb(0, 182, 0), rgb(0, 182, 0), rgb(94, 194, 94));
} 