li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.create-console {
    height: fit-content;
    margin: 4px;
    position: relative;
}

.create-console > p {
    width: 100%;
}

.create-console > p > input {
    width: fit-content;
}

li > div {
    height: 250px;
    margin: 4px;
    position: relative;
}

h3 {
    font-size: 200px;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: -150px;
    opacity: 10%;
    user-select: none;
    pointer-events: none;
    font-family: monospace;
}

h2 {
    z-index: 2;
}

h2 > input {
    z-index: 2;
}

p {
    z-index: 2;
}

p > input {
    z-index: 2;
}

button {
    z-index: 2;
}

.buttons {
    position: absolute;
    bottom: 4px;
    z-index: 2;
    display: flex;
    width: 90%;
    flex-direction: row;
}

.removal-button:hover {
    background-image: linear-gradient(to top, red, red, rgb(255, 125, 125));
} 

.creation-button:hover {
    background-image: linear-gradient(to top, rgb(0, 182, 0), rgb(0, 182, 0), rgb(94, 194, 94));
}

.needs {
    margin: 10px;
}