*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.loot_header h3 {
  align-items: center;
  text-align: center;
}

.result {
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.container .spinBtn{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  z-index: 10 ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  letter-spacing: 0.2px;
  border: 3px solid rgba(255, 255, 255, 0.80); 
  cursor: pointer;
  pointer-events: all;
}

.container .spinBtn::before{
  content: '';
  position: absolute;
  top: -30px;
  width: 20px;
  height: 30px;
  background-color: white ;
  clip-path: polygon(50% 0, 15% 100%, 85% 100%);

}

.container .wheel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #444, 0 0 0 15px #fff, 0 0 0 18px #111;
  overflow: hidden;
  transition: transform 3s ease;
}


.container .wheel .number{
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(45deg * var(--i)));
  clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container .wheel .number span {
  position: relative;
  transform: rotate(45deg);
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 5px  2px rgba(0, 0, 0, 0.15);
}
.container .wheel .number span::before {
   content: '';
   position: absolute;
   font-size: 0.75em;
   font-weight: 500;
}